
<hr />

<div class="container-fluid clear-top">
    <div class="col-md-6">
        <div class="lbl-wrapper">
            <label class="icon-chat-bubble-two">Chat History</label>
        </div>
        <div class="table-wrapper">
            <table id="chat-history" class="table table-striped tablefix">
                <tr>
                    <th class="col-md-2">Timestamp</th>
                    <th class="col-md-1">Username</th>
                    <th class="col-md-1">Sentiment</th>
                    <th class="col-md-5">Message</th>
                    <th class="col-md-1">Marked As</th>
                    <th class="col-md-1">Critical Point</th>
                </tr>
                @foreach (SAGLET.Models.VMsg msg in Model.RoomGroup.Msgs)
                {
                    <tr id="row-msg-@msg.ID">
                        <td>@Html.DisplayFor(modelItem => msg.TimeStamp)</td>
                        <td>@Html.DisplayFor(modelItem => msg.UserID)</td>
                        <td>@Html.DisplayFor(modelItem => msg.Sentiment)</td>
                        <td>@Html.DisplayFor(modelItem => msg.Text)</td>
                        <td class="types">

                        @foreach (SAGLET.Models.CriticalMsgPoints cpm in msg.CriticalPoints)
                        {
                            string lblClass = "label-danger";
                            if (cpm.Priority == "2") { lblClass = "label-warning"; }
                            <span class="label @lblClass">@cpm.Type</span>
                        }

                        </td>   
                        <td><button type="button" class="btn btn-primary btn btn-cpm-set" data-msgID="@msg.ID" data-roomID="@msg.GroupID">Set</button></td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="col-md-6">
        <div class="lbl-wrapper form-inline">
            <label style="margin-right:10px" class="icon-flash">History Actions</label>
            <label for="tabs-history">Tab ID</label>
            @Html.DropDownList("tabs-history", new SelectList(Model.RoomGroup.Tabs, "ID", "ID"), new { @class = "form-control tab-selectbox" })
        </div>
        <!-- Tab panes -->
        <div class="tab-content">
            @{ string classActive = "active"; }
            @foreach (SAGLET.Models.Tab item in Model.RoomGroup.Tabs)
            {
                <div role="tabpanel" class="tab-pane fade in @classActive" id="history-tab-@item.ID">
                    <div class="table-wrapper">
                        <table id="action-history-tab-@item.ID" class="table table-striped tablefix">
                            <tr>
                                <th class="col-md-2">Timestamp</th>
                                <th class="col-md-1">Username</th>
                                <th class="col-md-9">Action</th>
                            </tr>
                            @foreach (SAGLET.Models.VAction act in item.Actions)
                        {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => act.TimeStamp)</td>
                                    <td>@Html.DisplayFor(modelItem => act.UserID)</td>
                                    <td>@act.ToStringWithoutUser()</td>
                                </tr>
                        }
                        </table>
                    </div>
                </div>
                if (classActive != "") { classActive = ""; }
            }
        </div>
    </div>
</div>