@{
    ViewBag.Title = "Demo";
}



<div>
    @* <h4>@ViewBag.Title</h4>*@

    <div class="tab-content">
        <div class="tab-pane fade in active" id="vmt">@Html.Partial("_Vmt", (Dictionary<int, string>)ViewBag.Vidoes)</div>
    </div>

</div>

<p style="clear:both">
    @*<hr />
        <button class="col-md-offset-5 btn btn-primary" id="btn-save" disabled>Save My Work</button>*@
</p>

<!-- Modal login-->
<div class="modal fade" id="login-modal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form id="modal-form">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                    <h4 class="modal-title" dir="rtl">הכנס פרטים אישיים</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" dir="rtl">
                        <div class="form-group">
                            <div class="col-md-8">
                                <input required class="form-control" data-val="true" data-val-required="The firstname field is required." id="demo-firstname" name="firstname">
                            </div>
                            <label class="control-label col-md-4" for="firstname" dir="rtl">שם פרטי</label>
                            <div class="col-md-8">
                                <input required class="form-control" data-val="true" data-val-required="The lastname field is required." id="demo-lastname" name="lastname">
                            </div>
                            <label class="control-label col-md-4" for="lastname" dir="rtl">שם משפחה</label>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" dir="rtl" style="float:left">התחל</button>
                </div>
            </form>
        </div>

    </div>
</div>

<!-- Modal welcome-->
<div id="welcomeModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title" dir="rtl">פעילות חקר בחדרי צ'אט</h4>
            </div>
            <div class="modal-body">
                <p dir="rtl">
                    לפניכם מערכת <b>SAGLET</b>, המאפשרת למורה לנהל את העבודה בקבוצות בכיתה.
                </p>
                <p dir="rtl">
                    התלמידים שתראו כעת לומדים בכיתה ט' הטרוגנית. בשיעור משתתפת חצי כיתה, והתלמידים עובדים בזוגות ובשלישיות ב-6 חדרי צ'אט. התלמידים עבדו בעבר במערכת.
                </p>
                <p dir="rtl">
                    המשימה העומדת בפניכם היא להבין ככל האפשר את המצב בכיתה, כך שאם אתם הייתם המורים, הייתם יכולים לנהל את השיעור בהצלחה. שימו לב להתקדמות התלמידים, למידת ההבנה שלהם, לשימוש ביישומון ולעבודה הקבוצתית.
                </p>
                <p dir="rtl">
                    אתם יכולים לעבור בין חדרי הצ'אט באופן חופשי, אך אינכם יכולים להתערב בשיחה או לחזור אחורנית בשיחה.
                </p>
                <p dir="rtl">
                    במסך הבא תתבקשו להכניס את שמכם המלא. כשתלחצו על כפתור "התחל", יתחילו כל הקבוצות בעבודתן.
                </p>
                <p dir="rtl">
                    בהצלחה!
                </p>
                
            </div>
            <div class="modal-footer">
                <button dir="rtl" type="button" id="welcome-model-close" class="btn btn-primary left" data-dismiss="modal" style="float:left">המשך</button>
            </div>
        </div>

    </div>
</div>


@section scripts{

    <script src="~/Scripts/jquery-ui.min.js"></script>   @* jquery custom build without tooltip -> to avoid clash with bootstrap tooltip  *@
    @*<script src='~/Scripts/live/socket.io.js'></script>
        <script src="~/Scripts/live/vmt-highlight-api.js"></script>*@
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Areas/Demo/Scripts/hub/demo-page.js"></script>
    <script src="~/Scripts/hub/details-page.js"></script>
    <script src="~/Areas/Demo/Scripts/server-controller.js"></script>
    @*<script src="~/Scripts/bootstrap-toggle.js"></script>*@
    <script src="~/Scripts/graph/jsapi.js"></script>
    @*<script src="~/Scripts/graph/gauge.js"></script>
        <script src="~/Scripts/graph/wordcloud.js"></script>*@
    <script src="~/Scripts/graph/pie.js"></script>
    <script src="~/Areas/Demo/Scripts/video/video.js"></script>
    <script src="~/Scripts/toastr.js"></script>

    <script src="~/Scripts/jquery.countdownTimer.js"></script>

    <script>

        $('#welcomeModal').modal();

        $('#welcome-model-close').click(function(){
            //hide all vmt room
            $('#showHide').removeClass('hidden').addClass('show');



            $('#login-modal').modal();
        });
        $("#modal-form").submit(function(e){
            e.preventDefault();
            var user = $('#demo-firstname').val() + ' ' + $('#demo-lastname').val();
            room['user'] = user;
            $('#login-modal').modal('toggle');
            $("#hm_timer").countdowntimer({
                minutes: 20,
                size: "lg",
                borderColor: "#222222",
                backgroundColor : "#222222"
            });

            startCommands();
            return false;
        });

        // live data
        $(document).ready(function () {


            //room['id'] = '1';
            var user = @Html.Raw(Json.Encode(SAGLET.Class.AppHelper.GetVmtUser()));
            room['settings'] = { demo: true,
                sentiment: false,
                cpa: false,
                saveCpFeedbackTo: 'db',
                reviewed: false,
                listRoomID: true,
                listTrigger: false,
                listTime: false,
                displayActionGraph: false,
                usersPerLine: 1
            };
            room['demo'] = demos[user]; //set demo type (according to username demo#)
            room['commands'] = @Html.Raw(Json.Encode(ViewBag.Commands))
            room['cp'] = { nextId: 0};
            @{var videoIds = ((Dictionary<int, string>)ViewBag.Vidoes).Keys.ToList();}
            initRoomsDemo(@Html.Raw(Json.Encode(videoIds)));

            //$('#demo-firstname').val(tmpUser);
            //$('#demo-lastname').val(tmpUser);

            //hide room list
            $('#vmt-room-1').hide();
            $('#vmt-room-2').hide();
            $('#vmt-room-3').hide();
            $('#vmt-room-4').hide();
            $('#vmt-room-5').hide();
            $('#vmt-room-6').hide();
        });



    </script>
}

@section Styles {
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Areas/Demo/Content/demo.css" rel="stylesheet" />
    <link href="~/Content/jquery.countdownTimer.css" rel="stylesheet" />
}