@model IEnumerable<SAGLET.Models.Moderator>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AspUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.demo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sentiment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cpa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.saveCpFeedbackTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reviewed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.listRoomID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.listTrigger)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.listTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.displayActionGraph)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usersPerLine)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AspUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.demo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sentiment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cpa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saveCpFeedbackTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reviewed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.listRoomID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.listTrigger)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.listTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.displayActionGraph)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usersPerLine)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Username }) |
            @Html.ActionLink("Details", "Details", new { id=item.Username }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Username })
        </td>
    </tr>
}

</table>
