@using SAGLET.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}

<div class="row">
    <div class="col-md-12">
        <h2 style="padding-left:10px;">@ViewBag.Title</h2>
        <p class="text-success">@ViewBag.StatusMessage</p>

        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
