@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav sagletNavbar">
        <li><a href="#!/rooms">Rooms</a></li>
        <li><a href="#!/actions">Actions</a></li>
    </ul>

    @*<ul class="nav navbar-nav sagletNavbar">
        <li>@Html.ActionLink("Moderators", "Index", "Moderators")</li>
        <li>@Html.ActionLink("Rooms", "Index", "Rooms")</li>
        <li>@Html.ActionLink("Jobs", "Index", "Jobs", new { }, new { @class = "icon-list-alt" })</li>
        <li><a href="#!/navbar">navbar</a></li>
    </ul>*@



    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <span id="connection-status" data-toggle="tooltip" title="Connection Status" data-placement="bottom" class="label label-danger">Offline</span>
        </li>
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage", data_toggle="tooltip", data_placement="bottom" })
        </li>
        <li><a class="icon-log-out" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "icon-log-in" })</li>
    </ul>
}
