@model SAGLET.Models.Room


<hr />

<div class="container-graphs">
    <div id="left-panel" class="col-md-2">
        @*settings*@
        <div id="settings">
            <ul class="list-group">
                <li class="list-group-item header blue-color">
                    <h5 class="list-group-item-heading icon-tools">Settings</h5>
                </li>
                <li class="list-group-item">
                    <div class="list-group-item-text clearfix" style="line-height:2.3;">
                        Data source 
                        <span style="float:right">
                            <input id="settings-data-source-toggle" type="checkbox" data-on="<i class='fa fa-history'></i> History" data-off="<i class='fa fa-rss'></i> Live" data-width="95" checked data-toggle="toggle" >
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        @*room atmosphere*@
        <div id="room-atmosphere">
            <ul class="list-group">
                <li class="list-group-item header blue-color">
                    <span class="list-group-item-heading icon-speedometer-outline" style="vertical-align:middle">Room Gauges</span>
                </li>
                <li class="list-group-item">
                    <div id="gauge-div" >
                        <ul class="list-inline">
                            <li id="gauge-atmosphere"></li>
                            <li id="gauge-str"></li>
                        </ul>
                    </div>
                    <div> <h6 style="color:red">** STR - Students to Teacher Ratio</h6></div>
                </li>
            </ul>
        </div>
        @*users*@
        <div id="users">
            <ul class="list-group">
                <li class="list-group-item header blue-color">
                    <h5 class="list-group-item-heading icon-users">
                        Users
                        <span class="badge">#actions</span>
                        <span class="badge">#messeges</span>
                    </h5>
                </li>
            </ul>
        </div>
    </div>

    <div id="center-paenl" class="col-md-7">
        @*users domination*@
        <div id="users-dom">
            <ul class="list-group">
                <li class="list-group-item header blue-color">
                    <h5 class="list-group-item-heading icon-chart-line">Users Domination</h5>
                </li>
                <li class="list-group-item">
                    TODO
                </li>
            </ul>
        </div>
        @*critical points*@
        <div id="graph-critical-points">
            <ul class="list-group">
                <li class="list-group-item header blue-color">
                    <h5 class="list-group-item-heading icon-exclamation-triangle">Critical Points</h5>
                </li>
                <li class="list-group-item">
                    <div class="table-wrapper">
                        <table id="critical-points-table" class="table tablefix table-striped">
                            <tr>
                                <th class="col-md-1">TimeStamp</th>
                                <th class="col-md-1">Trigger</th>
                                <th class="col-md-1">Username</th>
                                <th class="col-md-6">Text</th>
                                <th class="col-md-1">Type</th>
                                <th class="col-md-1">Priority</th>
                                <th class="col-md-1"></th>
                            </tr>
                            @foreach (SAGLET.Models.CriticalMsgPoints cpm in ViewBag.cpm[Model.ID])
                            {
                                String likeSelected = "";
                                String unlikeSelected = "";
                                if (cpm.Like != null)
                                {
                                    if (cpm.Like == true) { likeSelected = "selected"; }
                                    else { unlikeSelected = "selected"; }
                                }

                                <tr class="cp-msg-@cpm.GroupID-@cpm.MsgID-@cpm.Type">
                                    <td>@cpm.Msg.TimeStamp.ToShortTimeString()</td>
                                    <td><i class="icon-chat-bubble-two"></i></td>
                                    <td>@cpm.Msg.UserID</td>
                                    <td>@cpm.Msg.Text</td>
                                    <td>@cpm.Type</td>
                                    <td>@cpm.Priority</td>

                                    <td>
                                        <i class="cp-like icon-like @likeSelected"></i>
                                        <i class="cp-unlike icon-unlike @unlikeSelected"></i>
                                    </td>
                                </tr>
                            }

                            @foreach (SAGLET.Models.CriticalActionPoints cpa in ViewBag.cpa[Model.ID])
                            {
                                String likeSelected = "";
                                String unlikeSelected = "";
                                if (cpa.Like != null)
                                {
                                    if (cpa.Like == true) { likeSelected = "selected"; }
                                    else { unlikeSelected = "selected"; }
                                }

                                <tr class="cp-act-@cpa.TabID-@cpa.ActionID-@cpa.Type">
                                    <td>@cpa.Action.TimeStamp.ToShortTimeString()</td>
                                    <td><i class="icon-flash-electric"></i></td>
                                    <td>@cpa.Action.UserID</td>
                                    <td>@cpa.Action.ToStringWithoutUser()</td>
                                    <td>@cpa.Type</td>
                                    <td>@cpa.Priority</td>

                                    <td>
                                        <i class="cp-like icon-like @likeSelected"></i>
                                        <i class="cp-unlike icon-unlike @unlikeSelected"></i>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div id="right-paenl" class="col-md-3">
        @*wordle*@
        <div id="canvas-container">
            <ul class="list-group">
                <li class="list-group-item header blue-color">
                    <h5 class="list-group-item-heading icon-cloud">Word Cloud</h5>
                </li>
                <li class="list-group-item" id="wordle">
                    <canvas id="wordle-canvas" width="400" height="400">
                        Your browser does not support the HTML5 canvas tag.
                    </canvas>
                </li>
            </ul>
        </div>
        @*group compare*@
        <div id="group-compare">
            <ul class="list-group">
                <li class="list-group-item header blue-color">
                    <h5 class="list-group-item-heading icon-graph-bar">Group Compare</h5>
                </li>
                <li class="list-group-item">
                    TODO
                </li>
            </ul>
        </div>
    </div>
</div>



